HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/bin/
/target/

# Maven
.m2/
~/.m2/

# Log files
/log/

# Miscellaneous
*.class
*.jar
*.war
*.ear

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
#
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Temporary files
*.log*
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

*.ttl
*.owl
config/settings.xml
.env
